<% @decks.each do |deck| %>
  <div class="col-md-4">
    <div class="deck">
      <h2 class="deck-title"><%= deck.title %></h2>
      <%= link_to "View Deck", deck_path(deck), class: "btn-custom" %>
    </div>
  </div>
<% end %>